html {
    font-size: 62.5%;
    background-color: #400080;
}

body {
    box-sizing: border-box;
}

button {
    border-radius: 0.3rem;
    color: #fff;
    border: none;
    background-color: #7e38c4;
    padding: 1rem 2rem;
    font-size: 1.4rem;
    margin-top: 1rem;
}

.App {
    margin: 1rem;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
}

.App-options {
    display: inline-block;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    align-self: flex-start;
}

.App-possibilities {
    width: 25rem;
    height: 50rem;
}
